# [Starting your ML project](https://www.kaggle.com/dansbecker/starting-your-ml-project/notebook)

## Introduction
**This will be your workspace for Kaggle's Machine Learning education track.**

You will build and continually improve a model to predict housing prices as you work through each tutorial.  
Fork this notebook and write your code in it.  
You will see examples predicting home prices using data from Melbourne, Australia.  
You will then write code to build a model predicting prices in the US state of Iowa.  
The data from the tutorial, the Melbourne data, is not available in this workspace.  
You will need to translate the concepts to work with the data in this notebook, the Iowa data.  

Come to the [Learn Discussion](https://www.kaggle.com/learn-forum) forum for any questions or coments. 

# Write Your Code Below

In [1]:
import pandas as pd

# Load the data and greet everyone.
main_file_path = 'input/train.csv'
data = pd.read_csv(main_file_path)
print('hello world')

hello world

## Use pandas to get familiar with your data

The first thing you'll want to do is familiarize yourself with the data.  
You'll use the Pandas library for this.  
Pandas is the primary tool that modern data scientists use for exploring and manipulating data.  
Most people abbreviate pandas in their code as pd. We do this with the command  
`import pandas as pd`  
The most important part of the Pandas library is the DataFrame.  
A DataFrame holds the type of data you might think of as a table.  
This is similar to a sheet in Excel, or a table in a SQL database.  
The Pandas DataFrame has powerful methods for most things you'll want to do with this type of data.  
Let's start by looking at a basic data overview with our example data from Melbourne and the data you'll be working with from Iowa:

In [2]:
# Explore some summary statistics:
data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

## Interpreting data description

The results show 8 numbers for each column in your original dataset.  
The first number, the **count**, shows how many rows have non-missing values.  
Missing values arise for many reasons.  
For example, the size of the 2nd bedroom wouldn't be collected when surveying a 1 bedroom house.  
We'll come back to the topic of missing data.  
The second value is the **mean**, which is the average.  
Under that, **std** is the standard deviation, which measures how numerically spread out the values are.  
To interpret the **min, 25%, 50%, 75%** and **max** values, imagine sorting each column from lowest to highest value.  
The first (smallest) value is the min.  
If you go a quarter way through the list, you'll find a number that is bigger than 25% of the values and smaller than 75% of the values.  
That is the 25% value (pronounced "25th percentile").  
The 50th and 75th percentiles are defined analgously, and the max is the largest number.

# [Selecting and filtering in pandas](https://www.kaggle.com/dansbecker/selecting-and-filtering-in-pandas)