# [Starting your ML project](https://www.kaggle.com/dansbecker/starting-your-ml-project/notebook)

## Introduction
**This will be your workspace for Kaggle's Machine Learning education track.**

You will build and continually improve a model to predict housing prices as you work through each tutorial.  
Fork this notebook and write your code in it.  
You will see examples predicting home prices using data from Melbourne, Australia.  
You will then write code to build a model predicting prices in the US state of Iowa.  
The data from the tutorial, the Melbourne data, is not available in this workspace.  
You will need to translate the concepts to work with the data in this notebook, the Iowa data.  

Come to the [Learn Discussion](https://www.kaggle.com/learn-forum) forum for any questions or coments. 

# Write Your Code Below

In [1]:
import pandas as pd

# Load the data and greet everyone.
main_file_path = 'input/train.csv'
data = pd.read_csv(main_file_path)
print('hello world')

hello world

## Use pandas to get familiar with your data

The first thing you'll want to do is familiarize yourself with the data.  
You'll use the Pandas library for this.  
Pandas is the primary tool that modern data scientists use for exploring and manipulating data.  
Most people abbreviate pandas in their code as pd. We do this with the command  
`import pandas as pd`  
The most important part of the Pandas library is the DataFrame.  
A DataFrame holds the type of data you might think of as a table.  
This is similar to a sheet in Excel, or a table in a SQL database.  
The Pandas DataFrame has powerful methods for most things you'll want to do with this type of data.  
Let's start by looking at a basic data overview with our example data from Melbourne and the data you'll be working with from Iowa:

In [2]:
# Explore some summary statistics:
data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

## Interpreting data description

The results show 8 numbers for each column in your original dataset.  
The first number, the **count**, shows how many rows have non-missing values.  
Missing values arise for many reasons.  
For example, the size of the 2nd bedroom wouldn't be collected when surveying a 1 bedroom house.  
We'll come back to the topic of missing data.  
The second value is the **mean**, which is the average.  
Under that, **std** is the standard deviation, which measures how numerically spread out the values are.  
To interpret the **min, 25%, 50%, 75%** and **max** values, imagine sorting each column from lowest to highest value.  
The first (smallest) value is the min.  
If you go a quarter way through the list, you'll find a number that is bigger than 25% of the values and smaller than 75% of the values.  
That is the 25% value (pronounced "25th percentile").  
The 50th and 75th percentiles are defined analgously, and the max is the largest number.

# [Selecting and filtering in pandas](https://www.kaggle.com/dansbecker/selecting-and-filtering-in-pandas)

This is part of Kaggle's Learn Machine Learning series.  
Selecting and Filtering Data  

Your dataset had too many variables to wrap your head around, or even to print out nicely.  
How can you pare down this overwhelming amount of data to something you can understand?  
To show you the techniques, we'll start by picking a few variables using our intuition.  
Later tutorials will show you statistical techniques to automatically prioritize variables.  
Before we can choose variables/columns, it is helpful to see a list of all columns in the dataset.  
That is done with the **columns** property of the DataFrame.

In [3]:
data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

There are lots of ways to go about selecting different subsets of your data.  
Let's start with the basics.

### Selecting a single column

You can pull out any variable (or column) with **dot-notation**.  
This single column is stored in a pandas **Series**, which is kind of like a DataFrame with a single column.

In [4]:
# Store the Series labeled SalePrice separately:
price_data = data.SalePrice
# Read the first few entries:
price_data.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

### Selecting multiple columns

You can select multiple columns from a DataFrame by providing a list of column names inside brackets.  
Each item in that list must be a string ('in quotes').

In [5]:
columns_of_interest = ['LotArea', 'GrLivArea']
two_columns = data[columns_of_interest]
two_columns.head()

   LotArea  GrLivArea
0     8450       1710
1     9600       1262
2    11250       1786
3     9550       1717
4    14260       2198

In [6]:
two_columns.describe()

             LotArea    GrLivArea
count    1460.000000  1460.000000
mean    10516.828082  1515.463699
std      9981.264932   525.480383
min      1300.000000   334.000000
25%      7553.500000  1129.500000
50%      9478.500000  1464.000000
75%     11601.500000  1776.750000
max    215245.000000  5642.000000

# [Your first scikit-learn model](https://www.kaggle.com/dansbecker/your-first-scikit-learn-model)

This tutorial is part of the series [Learning Machine Learning](https://www.kaggle.com/dansbecker/learn-machine-learning).

## Choosing the prediction target

You have the code to load your data, and you know how to index it.  
You are ready to choose which column you want to predict.  
This column is called the prediction target.  
There is a convention that the prediction target is referred to as y.

In [7]:
y = data.SalePrice
y.describe()

count      1460.000000
mean     180921.195890
std       79442.502883
min       34900.000000
25%      129975.000000
50%      163000.000000
75%      214000.000000
max      755000.000000
Name: SalePrice, dtype: float64

## Choosing Predictors

Next we will select the predictors.  
There may be times when you use all of the other variables besides the target as predictors.  
It's possible to model with non-numeric variables, but we'll start with a narrower set of numeric variables.

In [8]:
data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [9]:
data_predictors = ['TotRmsAbvGrd', 'MasVnrArea', 'SalePrice', 'LotFrontage', 'LotArea', 'YearBuilt']

By convention, this data is called **X**:

In [10]:
X = data[data_predictors]
X.describe()

,TotRmsAbvGrd,MasVnrArea,SalePrice,LotFrontage,LotArea,YearBuilt
count,1460.000000,1452.000000,1460.000000,1201.000000,1460.000000,1460.000000
mean,6.517808,103.685262,180921.195890,70.049958,10516.828082,1971.267808
std,1.625393,181.066207,79442.502883,24.284752,9981.264932,30.202904
min,2.000000,0.000000,34900.000000,21.000000,1300.000000,1872.000000
25%,5.000000,0.000000,129975.000000,59.000000,7553.500000,1954.000000
50%,6.000000,0.000000,163000.000000,69.000000,9478.500000,1973.000000
75%,7.000000,166.000000,214000.000000,80.000000,11601.500000,2000.000000
max,14.000000,1600.000000,755000.000000,313.000000,215245.000000,2010.000000

## Building your model