# [Creating, reading, and writing workbook](https://www.kaggle.com/residentmario/creating-reading-and-writing-workbook)

## Introduction and relevant resources

This is the first notebook in the [Learn Pandas](https://www.kaggle.com/learn/pandas) track.  
These exercises assume some prior experience with Pandas.  
Each page has a list of relevant resources that you can use for reference, and the top item in each list has been chosen specifically to help you with the exercises on that page.  
The first step in most data science projects is reading in the data.  
In this section, you will be using `pandas` to create `Series` and `DataFrame` objects, both by hand and by reading data files.  
The Relevant Resources, as promised:  
* **[Creating, Reading and Writing Reference](https://www.kaggle.com/residentmario/creating-reading-and-writing-reference)**
* **[General Pandas Cheat Sheet](https://assets.datacamp.com/blog_assets/PandasPythonForDataScience.pdf)**

## Setup

In [16]:
import pandas as pd
pd.set_option('max_rows', 5)
from learntools.advanced_pandas.creating_reading_writing import *

### Checking Answers

You can check your answers in each of the exercises that follow using the `check_qN` function provided in the code cell above by replacing `N` with the number of the exercise.  
For example here's how you would check an incorrect answer to exercise 1:

In [17]:
check_q1(pd.DataFrame())

False

A correct answer would return `True`.  
If you capitulate, run `print(answer_qN()))`.

## Exercises

**Exercise 1**  
Create a `DataFrame`:

In [18]:
data = {'Apples': [30], 'Bananas': [21]}
pd.DataFrame(data=data)

   Apples  Bananas
0      30       21

In [19]:
df2 = pd.DataFrame([(30, 21)], columns=['Apples', 'Bananas'])
df2

   Apples  Bananas
0      30       21

**Exercise 2**  
Create a 2x2 DataFrame:

In [20]:
df2x2 = pd.DataFrame([[35, 21], [41, 34]], index=['2017 Sales', '2018 Sales'], columns=['Apples', 'Bananas'])
df2x2

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

**Exercise 3**  
Create a `Series`: